{% extends 'base.html.twig' %}

{% block title %}Moni Calendar{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="container-xxl">
            <div class="authentication-wrapper authentication-basic container-p-y">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="app-brand justify-content-center m-4">                  
                                <h4 class="app-brand-text demo text-body fw-bolder">Moni Calendar</h4>                  
                            </div>
                            <p class="mb-4">Please enter the email address to display only the meetings of the current week.</p>
                            <div class="mb-3">
                                {{ form_row(form.email) }}
                            </div>                              
                            <div class="mb-3">
                                {{ form_row(form.submit) }} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
